$font-stack: "-apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", sans-serif";

/* Colours */
$light: #f8f9fa;
$themeColor: #17a2b8;
$primaryColor: #333;
$subtitleColor: #555;
$mediumgrey: #999;
$lightgrey: #ccc;
$baseColor: white;
$cardShadowInitial: 0px 2px 4px 0px $lightgrey;
$cardShadowHover: 0px 6px 8px 2px $mediumgrey;

$buttonShadow: 0 8px 16px 0 rgba(0, 0, 0, 0.24);